table, th, td {border: 1px solid rgb(233, 230, 230);
border-collapse: collapse;}
table{width: 100%;}
td{text-align: center;}



th{color: rgb(0, 0, 0); background-color: rgb(41, 62, 129);}
caption{color: rgb(226, 48, 17); font-family:fantasy; font-size: 30px; background-color: rgb(41, 62, 129);}

/*renglones pares*/
tr:nth-child(even){
    background-color: cornflowerblue;
}
tr:nth-child(odd){
    background-color: rgb(255, 255, 255);
}