h1 {color: rgb(238, 20, 20);
font-size: 20px;
 font-family: 'Times New Roman', Times, serif;
text-align-last: center;}

 p{color: rgba(224, 217, 217, 0.945);}

html {background-color: rgb(2, 41, 170);}

figure {color: aliceblue;}

ol {color: rgb(231, 231, 231);}

h2{color: rgb(231, 28, 28);}

